.border {
      border: 1px solid red;
}

.cursor-pointer {
      cursor: pointer;
}

.z-index {
      z-index: 5;
      position: relative;
}

.flex-column
{
      flex-direction: column;
}

.twidth {
      width: 15px;
}

.flex {
      display: flex;
}

.just-center {
      justify-content: center;
}

.align-center {
      align-items: center;
}

.invert {
      filter: invert(1);
}